@import url('https://fonts.googleapis.com/css2?family=Joan&family=Montserrat+Alternates:wght@600&family=Roboto:wght@100&display=swap');

body {
    margin:0;
    padding:0;
    color:white;
    background: linear-gradient(#141e30, #243b55);
}
.header{
    font-size: 45px;
    text-align: center;
}
.photos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 45px;
    font-family: 'Roboto', sans-serif;
}
.photo {
    width: 17%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    background-color: #243b55;
}
.photo > img{
    max-width: 250px;
    width:100%;
    height:auto;
    display: block;
    margin: 0 auto;
}
.photo > h3{
    padding-bottom: 15px;
    border-bottom: 3px solid #141e30;
}
.photo > button{
    width:50%;
    max-width: 200px;
    height:30px;
    font-size: 17px;
    display: block;
    margin: 15px auto;
    color: #03e9f4;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,.5);
}
.photo > button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
.DvForm, .DvSearch{
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    color: white;
    border-radius: 8px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    font-family: 'Montserrat Alternates', sans-serif;

}
.DvForm h3{
    text-align: center;
}
.form{
    max-width: 600px;
    width: 50%;
    display: inline;
    margin: 0 auto; 
}
.form > label, .DvSearch > label{
    font-size: 18px;
    font-weight: bold;
}
.form > input, .DvSearch > input{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: transparent;
    color: white;
    border: 1px solid #747474;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
.form > button{
    width: 100px;
    height: 25px;
    margin-left: 30px;
    border: none;
    background: transparent;
    
    color: #03e9f4;
    font-size: 18px;
    border-bottom: 3px solid rgb(75, 75, 75);
    border-radius: 10px;
}
.form > button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}